#example{
	margin-top:20px;
}
.footer2{
	margin-top:413px;
}
#sel1{
	float:left;
	width:200px;
	margin-left:15px;
	margin-bottom:20px;
	margin-right:10px;
}
.form-group{
	display:inline;
}
#search{
	float:right;
}
#srch{
	float:right;
	width:200px;
	margin-right:10px;
}

#myemployee tr td{
	padding : 10px !important;
}