/* layout.css Style */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}
.well{
	width:800px;
	padding-left:60px;
	margin-left:170px;
}
.panel-heading{
	background-color:#066;
	color:#fff;
	width:600px;
	margin-top:30px;
	font-family: Cabin;
	font-style:italic;
	border-radius:5px 5px 5px 5px;
	padding-left:50px;
	margin-left:15px;
	margin-bottom:30px;
	height:45px;
	width:100%;
	padding-bottom:0px !important;
	padding-top:0px !important;
	font-size:24px !important;
}
#gallery{
	height:800px;
}
.table_panel_gallery{
    width: 1130px;
	margin-top: 78px;
	margin-left: 111px;
}
