
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}

html, body{
  	font-family: 'Cabin', sans-serif;
    font-size: 100%;
  	overflow-x: hidden;
	background: #f9f9f9;
	height:100%;
	margin: 0;
}  
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #353F4F;
	text-decoration:none;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cabin', sans-serif;
}
.icons {
    margin: 2em 2em;
    background: #fff;
    padding: 2em;
	-ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.ic-ons {
    padding: 1em;
}
.fa-hover.col-md-3.col-sm-4 {
    font-size: 1em;
    padding: .5em;
}
.btn-info {
    padding: 8px 12px;
	width:95px;
	margin-top: 1px;
}
.meter > span:after, .animate > span > span {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	
	overflow: hidden;
}

.animate > span:after {
	display: none;
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
footer {
    background: #fff;
    padding: 12px;
    width: 100%;
    border-top: 1px solid #eff0f4;
    text-align:center;
    position: fixed;
    bottom: 0;
}
footer  p {
	color: #7A7676;
    font-size: 14px;
}
footer  p a{
	color:#F44336;
}
footer  p a:hover{
	text-decoration:underline;
}
.nofitications-dropdown li .dropdown-menu:before,.drp-mnu:before {
    position: absolute;
    top:-8.5px;
    left: 5px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #DFDFDF;
    border-left: 8px solid transparent;
    content: '';
}
/*---------------------------------
            LEFT SIDE
----------------------------------*/

.left-side {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
	background: #006666;
}

.sticky-left-side .custom-nav {
    margin-top: 59px;
	background: #000;
}

.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}
.logo a {
    font-size: 0.7em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    display: inline-block;
    text-transform: capitalize;
}
.logo a span{
	color:#fff;
}
.logo-icon {
    display: none;
}
div#page-wrapper {
    padding:2em 2em;
}
.left-side-collapsed .logo-icon {
    height: 51px;
    margin-top: 0;
    display: block !important;
}
.logo-icon a{
	display:block;
	text-align:center;
	text-decoration: none;
}
.logo-icon a i{
	line-height: 1.4em;
    font-size: 1.5em;
    color: #fff;
    padding-top: 10px;
    display: block;
}
.logo-icon a:hover{
	color:#b8c9f1;
}
.left-side-inner {
    padding: 0px;
    margin-bottom: 50px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width:83%;
    margin: 0 0 15px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 40px;
    height:40px;
    display:block;
    -moz-border-radius: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}

.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.custom-nav {
    margin-bottom: 10px;
}

.custom-nav > li > a {
    color:#C8C8C8;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    background-color: #353f4f;
    color:#8BC34A;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li.menu-list > a {
    background: transparent;
}

.custom-nav > li.menu-list > a:hover {
    background-color: #353f4f;
}

.custom-nav > li.nav-active > a {
    background-color:#353f4f;
    color:#8BC34A;
}

.custom-nav > li.nav-active > ul{
    display: block;
}

.custom-nav > li.nav-active > a:hover {
    
}

.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
    background-color: #006666;
    color:#8BC34A;
}

ul.dropdown-menu.drp-mnu li {
    width: 100%;
}

.custom-nav > li.menu-list.active > a {
    background-image: url(../images/plus.png);
}

.custom-nav > li.nav-active.active > a {
    background-image: url(../images/minus.png);
}

.custom-nav > li.nav-active.active > a:hover {
    background-image: url(../images/minus.png);
}

.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #353f4f;
}

.custom-nav .sub-menu-list > li > a {
    color: #fff;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color:#fff;
    background:#6B9D31;
}
.profile_img i {
	float: right;
    margin: .5em 0 0;
    color:#00BCD4;
}
.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list > li.active > a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}

.custom-nav .menu-list.active ul {
    display: block;
}
.nav>li>a {
position: relative;
display: block;
padding: 12px 15px;
background-color:#006666;
}
.nav>li {
position: relative;
display: block;
}
.nav-stacked>li+li {
margin-top: 1px;
margin-left: 0;
}
@media (max-width:767px){
	.hidden-xs{display:none!important}
	.visible-xs {
		display: none !important;
	}
}
@media (min-width:768px) and (max-width:991px){
	.hidden-sm{display:none!important}
}
@media (min-width:992px) and (max-width:1199px){
	.hidden-md{display:none!important}
}
@media (min-width:1200px){
	.hidden-lg{display:none!important}
}
/*------------------------------------------
            LEFT SIDE COLLAPSE
-------------------------------------------*/

.left-side-collapsed .logo {
    display: none;
}

.left-side-collapsed .header-section {
    margin-left: 0px;
}

.left-side-collapsed .left-side {
    width: 52px;
    top: 0px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
    margin-bottom:8px;
}

.left-side-collapsed .custom-nav {
    margin: 2px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 10px;
    position: relative;
	background-color:#006666;

}

.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}

.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background:orange;
    padding: 11.7px;
    left: 52px;
    top: 1px;
    min-width: 160px;
    text-align: left;
    z-index: 100;
    display: none;
	font-size:14px;
}

.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color:orange;
    border-width: 6px;
    margin-top: -6px;
}

.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background:#006666;
    color:orange;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background:orange;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 44px;
    left: 52px;
    margin: 0;
    min-width: 160px;
    background:orange;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
    background:#6B9D31;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
	font-size: 1.2em;
}
ul.nav li a span {
    padding-left: .5em;
}

.left-side-collapsed .main-content {
    margin-left: 52px;
}


.left-side-collapsed .left-side{
    overflow: visible !important;
}

/*----------------------------
        HEADER SECTION
-----------------------------*/

.header-section {
    background:#FFF;
    box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -webkit-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -moz-box-shadow: 1px 0 3px rgba(0,0,0,.15);
    -o-box-shadow: 1px 0 3px rgba(0,0,0,.15);
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    font-size: 15px;
    padding: 10px 0 0;
    width: 40px;
    height: 40px;
    margin:.4em 0 0 2em;
    text-align: center;
    cursor: pointer;
    float: left;
    color: #006666;
    background: #fff;
    border: none;
    border-radius: 100%;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
    background:#C3C3C3;
    color: #fff;
}


.logo-co{
	float:left;
	padding:7px 15px 6px;
}
.logo-co a {
	display:block;
}
/* ------------------------------
        STICKY HEADER
---------------------------------*/
.sticky-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 100;
    background: #006666;
    border-bottom: 1px solid #303B4D;
    text-align: center;
    padding:0.55em 0 1em;
}
.logo h1 {
    margin-bottom: 0;
	line-height: 25px;
	
}
.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 200px;
    width: 100%;
    z-index: 100;
	background-color:#006666;
}

.sticky-header .main-content {
    padding-top: 50px;
}
.sticky-header .menu-right {
    margin-right: 0;
}
.sticky-header.left-side-collapsed .header-section {
    left: 52px;
}
.sticky-header.left-side-collapsed .menu-right {
    margin-right: 0;
}
.menu-right {
    margin:6px 15px 0px 0;
}

/* -----------------------
        DROPDOWN
--------------------------*/

.dropdown-menu-head {
    background: #fff
}
.dropdown-menu-head .title {
    background: #65cea7;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}
.profile_details_left {
    float: left;
	margin: .3em 0 0 1em;
}
.nofitications-dropdown{
	margin-top:2px;
}
ul.nofitications-dropdown li {
    display: inline-block;
}
ul.dropdown-menu li {
    margin-left: 0;
    width: 100%;
    padding: 0;
	background: #fff;
}
.user-panel-top ul{
	padding-left:0;
}
.user-panel-top li{
	float:left;
	margin-left:15px;
	position:relative;
}
.user-panel-top li span.digit{
    font-size:11px;
    font-weight:bold;
	color:#FFF;
	background:#e64c65;
	line-height:20px;
	width:20px;
	height:20px;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;	
	text-align:center;
	display: inline-block;
	position: absolute;
	top: -3px;
	right: -10px;
}
.user-panel-top li:first-child{
	margin-left:0;
}
.custom-nav > li.act > a, .custom-nav > li.act > a:hover, .custom-nav > li.act > a:focus {
    background-color: #353f4f;
    color:#8BC34A;
}
.user-panel-top li a{
	display: block;
	padding: 5px;
	text-decoration:none;
}
.profile_details_drop a {
    padding: 0px 5px 5px !important;
}
.user-panel-top li a:hover{
	border-color:rgba(101, 124, 153, 0.93);
}
.user-panel-top li a i{
	width:24px;
	height:24px;
	display: block;
	text-align:center;
	line-height:25px;
}
.user-panel-top li a i span{
	font-size:15px;
	color:#FFF;
}
.user-panel-top li a.user{
	background:#667686;
}
.user-panel-top li span.green{
	background:#a88add;
}
.user-panel-top li span.red{
	background:#b8c9f1;
}
.user-panel-top li span.yellow{
	background:#bdc3c7;
}


/*-- search-ends --*/
.dropdown{
	position:relative;
}


ul.dropdown-menu {
    padding: 0;
	min-width: 250px;
	top:108%;
}
.dropdown-menu li a .badge {
    background: #ff5454;
    border: 2px solid white;
    position: absolute;
    top: 9px;
    right: 3px;
    font-size: 8px;
    line-height: 8px;
    padding: 4px 6px;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    min-width: 0;
}
.user_img{
	float:left;
	width:15%;
}
.user_img img{
	max-width:100%;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}

/*** Profile Details **/
.profile_picture{
	text-align:center;
}
.profile_picture a{
	display:block;
}
.profile_picture > a {
	display: block;
	margin:0 auto;
    border-radius:8em;
    -webkit-border-radius:8em;
    -moz-border-radius:8em;
    -o-border-radius:8em;
    width:100px;
    height:100px;
}
.profile_picture_name{
	padding-top:20px;
}
.profile_picture_name h2{
	margin-bottom:5px;
	font-size:20px;
	color: #535351;
	font-weight:600;
}
.profile_picture_name p{
	font-size:12px;
	color: #BCBCBC;
	line-height: 1.6em;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
/********* profile details **********/
.profile_details{
	float: right;
    margin: 0 4.8em 0 1em;
}
.profile_details_drop .lnr.lnr-chevron-up{
	display:none;
}
.profile_details_drop.open .lnr.lnr-chevron-up{
    display:block;
}
.profile_details_drop.open .lnr.lnr-chevron-down{
	display:none;
}

ul.dropdown-menu{
	-moz-animation: fadeInDown .3s ease-in;
    -webkit-animation: fadeInDown .3s ease-in;
    animation: fadeInDown .3s ease-in;
}
ul.dropdown-menu.drp-mnu {
    min-width: 125px;
	top:94%;
}
ul.dropdown-menu.drp-mnu li a {
    display: inline-flex;
    width: 100%;
    text-align: center;
    padding:.5em 0 0.5em 1.5em;
}
ul.dropdown-menu.drp-mnu li a i {
    width: 24px;
    line-height: 17px;
    height: 20px;
}
.profile_img span{
	float:left;
	display:block;
	width:40px;
	height:40px;
	border-radius:3em;
	-webkit-border-radius:3em;
	-moz-border-radius:3em;
	-o-border-radius:3em;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.user-name{
	 float:left;
	 margin-top:8px;
	 margin-left:5px;
	 height:35px;
	 width:65%;
}
.profile_details ul li{
	list-style-type:none;
	width:87%;
}
.user-name p{
	font-size:14px;
	color:#F44336;
	line-height:1em;
	font-weight:700;
}
.user-name p span{
	font-size:10px;
	font-style:italic;
	color:#fff;
	font-weight:normal;
}


.input-icon.right > i, .input-icon.right .icon {
  right:12px;
  float: right;
}
.input-icon > i, .input-icon .icon {
  position: absolute;
  display: block;
  margin: 10px 8px;
  line-height: 14px;
  color: #999;
}
/*-- inbox --*/

.float-right, .pull-right {
  float: right!important;
}
.widget-footer.clearfix {
  margin: 1em 0 0 0;
}

ul.float-right {
    min-width: 180px;
    left: 31%;
}
.float-left{
  float: left!important;
  width: 15%;
  cursor: pointer;
}

.dropdown-menu > li > a {
  font-size:13px;
}


/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 20px;
    height:25px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
    margin-top:2em;
}
.pa_italic span{
	display:none;
}
.pa_italic i{
	left: -1em;
}
.collapsed span{
	display: inline-block;
    left: -1em;
}
.collapsed i{
	display:none;
}

/*--404-ends-here--*/
.dropdown-menu-right {
    min-width: 170px !important;
}

 /*-- responsive design --*/


@media (max-width:1024px){	

.float-left {
    width:20%;
}
ul.collection li {
    margin-bottom: 1em;
}
ul.float-right {
    min-width: 140px;
}
.navbar-right {
  margin-right: -10px;
}
.profile_details {
    margin: 0 3.1em 0 1em;
}
.user-panel-top li {
    margin-left: 6px;
}

h1.blank, h3.blank1 {
    font-size: 1.7em;
}
body{
	background-color:white;
}
}

@media (max-width:991px){
	.profile_details {
		margin: 0 3.1em 0 0em;
	}
	.user-panel-top li a {
		padding: 5px 1px;
	}
	body{
	background-color:white;
}
}
@media (max-width:966px){
.float-left {
    width: 14%;
}
.input-group {
    margin: 0 0 0 1em;
	width:40%;
}	
.navbar-right {
  margin-right:3px !important;
}
.main-content{
	background-color:white;
}
}
@media (max-width:800px){
	.profile_details_left {
		float: none;
	}
	.sticky-header .main-content {
		padding-top: 100px;
	}
	.left-side-collapsed .logo-icon {
		height: 100px;
	}
	.logo-icon a i {
		padding-top: 30px;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width:768px){
	.user-panel-top li a {
		padding: 10px 10px 0;
	}
	
	.float-left {
		width: 20%;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width: 739px){
	.float-left {
		width: 15%;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width:736px){
.navbar-right~.navbar-right {
  display: block;
}
.navbar-right {
  display: none;
}
.navbar-default .navbar-toggle {
  border-color:#000;
  background-color:#000 !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: rgb(189, 195, 199);
}
form.navbar-form.navbar-right {
  margin: 0;
}
.sidebar-nav.navbar-collapse {
  margin: 0;
}
.main-content{
	background-color:white;
}
}

@media (max-width:640px){
.float-left {
    width: 30%;
}
.user-panel-top li:first-child {
    margin: .2em 0 0;
}
footer {
    position: inherit;
}

body.sticky-header {
    background: #000;
}
.sticky-left-side {
    position: absolute;
}
.sticky-header .logo {
    position: absolute;
}
.main-content{
	background-color:white;
}
}
@media (max-width: 625px){
	
	.profile_details {
		float: none;
		width:94%;
	}
	.user-panel-top li:first-child {
		margin: 0.5em 0 0.5em 2em;
	}
	.user-name p span {
		display: block;
		float: none;
		width: 100%;
	}
	.user-name {
		width:14%;
	}
	.user-panel-top li:first-child {
		margin: 0.5em 0 0.5em 0em;
	}
	.user-panel-top li a i {
		float: left;
	}
	.profile_details_drop a {
		padding: 0px 0px 8px !important;
	}
	li.dropdown.profile_details_drop{
		margin-left: 2em;
	}
	ul.dropdown-menu.drp-mnu {
		left: 7%;
	}
	.sticky-header .main-content {
		padding-top: 163px;
	}
	.left-side-collapsed .logo-icon {
		height: 159px;
	}
	.logo-icon a i {
		padding-top: 60px;
	}
	.user-panel-top li {
		margin-top: 8px;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width:600px){
	.main-content {
		position: relative;
	}
.sticky-header.left-side-collapsed .header-section {
    left: 0;
}
.sticky-header .header-section {
    position: absolute;
	left: 0;
}
.menu-right {
margin: 6px 0px 0px 0;
}
.main-content{
	background-color:white;
}
}
@media (max-width:480px){
	.user-panel-top li {
		margin-top: 0px;
	}
	.main-content {
		min-height: 855px;
	}
 
.login-logo {
  padding: 40px 0;
}
ul.dropdown-menu {
    min-width: 215px;
}
.toggle-btn {
    margin: .4em 1em 0 1em;
}
li.dropdown.profile_details_drop {
    margin-left: 1em;
}
.user-panel-top li:first-child {
    margin: 0;
}
ul.dropdown-menu li {
    margin: 0;
}
.profile_details {
    margin: .5em 0 0 1em;
}
ul.dropdown-menu.drp-mnu {
    left: 0;
}
.menu-right {
    margin: .2em 0px 1em 0;
}
.sticky-header .main-content {
    padding-top: 145px;
}
.left-side-collapsed .logo-icon {
    height: 140px;
}
.logo-icon a i {
    padding-top: 50px;
}
.main-content{
	background-color:white;
}
}
@media (max-width:424px){
	
	.user-name {
		width: 25%;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width:414px){
.left-side-collapsed .custom-nav li a span {
    padding: 9px;
    min-width: 110px;
	top: 6px;
}
.left-side-collapsed .custom-nav li.nav-hover ul {
    min-width: 110px;
}
.user-panel-top li {
    margin-top: 0px;
}
ul.dropdown-menu {
    min-width: 175px;
}
.main-content{
	background-color:white;
}
}
@media (max-width:384px){
.login-header {
    padding: 1.5em 1em;
}
.user-panel-top li a {
    padding: 10px 5px 0;
}
footer p {
    font-size: 13px;
}
.main-content{
	background-color:white;
}
}
@media (max-width:375px){
	ul.dropdown-menu {
		min-width: 167px;
	}
	.main-content{
	background-color:white;
}
}
@media (max-width:320px){
.login-logo {
  padding:20px 0;
}
.login-logo img{
  width:40%;
}
.main-content#login {
  min-height: 500px;
}
h1#h1{
  font-size:17px !important;
}
h2#h2{
  font-size:16px !important;
}
h3#h3{
  font-size:15px !important;
}
h4#h4{
  font-size:14px !important;
}

.user-panel-top li a i {
    font-size: 0.8em;
    width: 17px;
    height: 20px;
}
.toggle-btn {
    font-size: 12px;
    padding: 6px 0 0;
    width: 30px;
	height: 30px;
}
.profile_img span {
    width: 30px;
    height: 30px;
}
.user-name {
    width: 55%;
    margin-top: 2px;
    margin-left: 9px;
}
.user-name p {
    font-size: 13px;
}
.profile_details ul li {
    width: 50%;
}
.left-side-collapsed .logo-icon {
    height: 123px;
}
.sticky-header .main-content {
    padding-top: 128px;
}
.left-side-collapsed .custom-nav li a i {
    font-size: 1em;
}
.left-side-collapsed .custom-nav li a {
    padding: 6px;
}
.left-side-collapsed .custom-nav li a span {
    padding: 8px;
    min-width: 105px;
    top: 2px;
    font-size: 13px;
}
.custom-nav .sub-menu-list > li > a {
    font-size: 12px;
}
.left-side-collapsed .custom-nav li.nav-hover ul {
    min-width: 105px;
	top: 36px;
}
h1.blank, h3.blank1 {
    font-size: 1.3em;
    margin: 0 0 0.7em;
}
.collapsed span {
    padding-left: 7em;
}
.logo a {
    font-size: 0.6em;
}
.nav>li>a {
    font-size: 14px;
}
.left-side {
    width: 160px;
}
.sticky-header .logo {
    width: 160px;
}
.main-content {
    margin-left: 160px;
}
ul.dropdown-menu {
    min-width: 130px;
}
.main-content{
	background-color:white;
}
.panel-primary {
    border-color: #ffffff;
}
.circular_header{
	margin-left:10px;
}
.table_panel_gallery{
    width: 1130px;
	margin-top: 78px;
	margin-left: 111px;
}