
<div class="panel panel-primary">
	<div class="panel-heading">Circular</div>
	<div class="panel-body">
		<div class="container-fluid">
		
			<div class="row table-bordered" style="margin: 5px; padding: 5px;">
				<table id="circular" class="table table-striped table-bordered" style="color:#000;">
					<thead>
						<tr>
							<th>Sr. No</th>
							<th>Name</th>
							<th>Uploaded on</th>
							<th>Download</th>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="circular in circularList"  >
						<td>{{$index + 1}}</td>
						<td>{{circular.name}}</td>
						<td>{{circular.createdAt.dayOfMonth}}/{{circular.createdAt.dayOfWeek}}/{{circular.createdAt.year}}</td>
						<td><a href ="data:application/pdf;base64,"+{{circular.pdfFile}} target='_blank'><img src='user_resources/assets/images/pdf-icon.png' alt='pdf'></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<div></div>
