
	<div class="fluid_container" id="main">
		<section class="container conference_room font-color-black">
			<div class="footer_top_area_modal">
				<div class="row">
					<div class="section-header">
						<h2 class="section-header-title text-center">NEED CONFERENNCE
							ROOM ?</h2>
					</div>
				</div>
				<div class="row-md-7">
					<div
						class="col-xs-12 col-sm-4 col-lg-4 col-sm-offset-1 conference_room">
						<img src="user_resources/assets/images/onyx.jpg"
							alt="conference room" class="img-circle onyximage"><br>
						
							<div class="text-center"><strong>ONYX</strong></div>
						<br>
						<button type="button" class="btn btn-success btn-sm text-center"
							data-toggle="modal" data-target="#onyxBook">Book</button>

						<!-- Modal onyx-->
						<div class="modal fade" id="onyxBook" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content onyx-->
								<div class="modal-content" style="width:600px;">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Book Conference room</h4>
									</div>
									<div class="modal-body">
										<form name="conference_form" id="conference_form">
											<table>
												<tr>
													<td>Employee Id</td>
													<td><input type="text" name="empId" id="employeeId"></td>
												</tr>
												<tr>
													<td>Employee Name</td>
													<td><input type="text" name="empName"
														id="employeeName"></td>
												</tr>
												<tr>
													<td>Date</td>
													<td><input type="date" name="date" id="Cdate"></td>
												</tr>

												<tr>
													<td>Time In</td>
													<td><input type="time" name="timein"
														placeholder="hrs:mins" value=""
														pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
														class="inputs duration t1 time hrs" required></td>
												</tr>
												<tr>
													<td>Time Out</td>
													<td><input type="time" name="timeout"
														placeholder="hrs:mins" value=""
														pattern="^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$"
														class="inputs duration t1 time hrs" required></td>
												</tr>
											</table>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											 onclick = "bookMyRoom();">Submit</button>
										<button type="button" class="btn btn-alert"
											data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
						<!--details modal onyx-->
						 <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#onyxdetail">Details</button>

					  <!-- Modal onyx -->
					  <div class="modal fade" id="onyxdetail" role="dialog">
						<div class="modal-dialog">
						
						  <!-- Modal content onyx-->
						  <div class="modal-content">
							<div class="modal-header">
							  <button type="button" class="close" data-dismiss="modal">&times;</button>
							  <h4 class="modal-title">Details of Booked Conference room</h4>
							</div>
							<div class="modal-body">
							<table id="dataTable" class="table table-striped table-bordered" style = "margin-top:10px;">
                        	<thead>
                            <tr class="ui-widget-header ">
                                <th>Sr. No</th>
                                <th>Employee Id</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>TimeIn</th>
                                <th>TimeOut</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
							</div>
							<div class="modal-footer" style="margin-top:70px;">
							  <button type="button" class="btn btn-alert" data-dismiss="modal">Close</button>
							</div>
						  </div>
						  
						</div>
					  </div>
						<!--cancel onyx-->
						<button type="button" class="btn btn-danger btn-sm"
							id="listBookedRoom">Cancel</button>

						<!-- Modal onyx-->

					</div>
					
					<div class="modal fade" id="deleteBookingRoom" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Cancel Conference Room</h4>
					</div>
					<div class="modal-body">
					<form id="cancelForm" onsubmit ="false" name="cancel_form">
						Date Of Booking<br> <input type="text" id="date" name="date"><br>
						Time In<br> <input type="text" id="timein" name="timein"><br>
						Time Out<br> <input type="text" id="timeout" name="timeout"><br>
						Password<br> <input type="text" id="password" name="password"><br>
						<hr>
						Are you Sure
						<button type="submit" class="btn btn-default">No</button>
						<button type="submit" class="btn btn-default"
							onclick="deleteConferenceRoom();" data-dismiss="modal">Yes</button>
							</form>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
		</div>
		<div class="modal fade" id="your-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center" id="header_success">
                    	<button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body" id="message_success">
                        </div>
                        <div class="modal-footer">
					        <button type="button" class="btn btn-default" onclick = "location.reload();" data-dismiss="modal">Close</button>
					      </div>
                    </div>
                </div>
            </div>
				
					<!--opal-->
					<div class="col-xs-12 col-sm-4 col-lg-4 col-sm-offset-2 conference_room">
						<img src="user_resources/assets/images/onyx.jpg"
							alt="conference room" class="img-circle onyximage">
						
							<div class="text-center"><Strong class="text-center">OPAL</strong></div><br>
						
						<button type="button" class="btn btn-success btn-sm"
							data-toggle="modal" data-target="#Book_opal">Book</button>

						<!-- Modal opal -->
						<div class="modal fade" id="Book_opal" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content opal-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Book Conference room</h4>
									</div>
									<div class="modal-body">
										<table>
											<tr>
												<td>Employee Id</td>
												<td><input type="text" name="empId" id="employeeId"></td>
											</tr>
											<tr>
												<td>Time In</td>
												<td><input type="datetime-local" name="timein"
													id="bookingTime"></td>
											</tr>
											<tr>
												<td>Time Out</td>
												<td><input type="datetime-local" name="timeout"
													id="timeOut"></td>
											</tr>
										</table>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-success"
											data-dismiss="modal" onsubmit="">Submit</button>
										<button type="button" class="btn btn-danger"
											data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>
						</div>
						<!--details modal opal-->
						<button type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#opal_detail">Details</button>

						<!-- Modal opal-->
						<div class="modal fade" id="opal_detail" role="dialog">
							<div class="modal-dialog">

								<!-- Modal content opal-->
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Details of Booked Conference room</h4>
									</div>

									<div class="modal-footer" style="margin-top: 70px;">
										<button type="button" class="btn btn-alert"
											data-dismiss="modal">Close</button>
									</div>
								</div>

							</div>
						</div>
						<!--cancel opal-->
						<button type="button" class="btn btn-danger btn-sm"
							id="#cancel_opal">Cancel</button>

						<!-- Modal opal-->

					</div>
				</div>
			</div>

		</section>
	