<div class="panel panel-primary ">
	<div class="panel-heading text-center ">Circular</div>
	<br>
	<div class="panel-body">
		<div class="row tab font-color-black" id="employeeDetail"></div>

		<div id="floatleft" class="floatleft"
			ng-repeat="employee in employees">
			<div id="imagee">
			 <img src=data:image/png;base64, +{{employee.imgdata}}>
			</div>
			<div id="space">
				<table id="myemployee">
					<tr>
						<td>Employee Id:</td>
						<td>{{employee.employeeId}}</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>{{employee.firstName}} {{employee.lastName}}</td>
					</tr>
					<tr>
						<td>Designation:</td>
						<td>{{employee.designation}}</td>
					</tr>
					<tr>
						<td>Joining Year:</td>
						<td></td>
					</tr>
					<tr>
						<td>Email-Id:</td>
						<td>{{employee.email}}</td>
					</tr>
					<tr>
						<td>Contact No:</td>
						<td>{{employee.contact}}</td>
					</tr>
				</table>
			</div>
			<div></div>
		</div>
	</div>
</div>