
<!-- /view image-->
	<div class="row">
		<div class="panel panel-primary ">
			<div class="panel-heading text-center table_panel_gallery">Gallery</div>
			<div class="row tab font-color-black" id="mygallery"></div>
		</div>
	</div>
